@using Models.MetaDataModels
@using Utils.Types
@using DataReviewProject.Views.ViewModels
@model DataReviewProject.Views.ViewModels.SensorGroupViewModel
@{
    ViewData["Title"] = "Create SensorGroup";
}

<h1>Create a Sensor Group:</h1>
<hr />
<div>
    <form asp-controller="Hardware" asp-action="CreateSensorGroup" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <p>Type:</p>
            @foreach (StatusTypes item in Enum.GetValues(typeof(StatusTypes))){
                @Html.RadioButtonFor(m => m.SensorGroupMetaData.Status,item);
                <label asp-for="SensorGroupMetaData.Status">@TypeToDisplayString.StatusTypeMap[item]</label><br>
            }
        </div>
        <div class="form-group">
            <label asp-for="SensorGroupMetaData.Id" class="control-label">Id</label>
            <input asp-for="SensorGroupMetaData.Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SensorGroupMetaData.Name" class="control-label">Name</label>
            <input asp-for="SensorGroupMetaData.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SensorGroupMetaData.Description" class="control-label">Description</label>
            <input asp-for="SensorGroupMetaData.Description" class="form-control" />
        </div>
        <div class="form-group">
            <p>Existing Hardware:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Add to Group
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i=0;i<Model.Hardware.Count;i++) {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(m => m.Hardware[i].IsChecked)
                                </td>
                                <td>
                                    @TypeToDisplayString.StatusTypeMap[Model.Hardware[i].Item.Status]
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.Hardware[i].Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.Hardware[i].Item.Description)
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>