@using Utils.Types
@model IEnumerable<DataReviewProject.Models.MetaDataModels.HardwareMetaData>
@{
    ViewData["Title"] = "Hardware List";
}

<h1>Hardware</h1>

<p>
    <a asp-action="CreateSensor">Add Sensor</a>
    <a asp-action="CreateSensorGroup">Add SensorGroup</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => TypeToDisplayString.StatusTypeMap[item.Status])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
        }
    </tbody>
</table>